div.demo {
  width: 50vw;
  height: 40vh;
}

.demo1 {
  background: red;
}

.demo2 {
  background: green;
}

.demo3 {
  background: blue;
}

.demo4 {
  background: orange;
}

.demo5 {
  background: pink;
}