div.demo {
  width: 50vw;
  height: 40vh;
}

.demo1 {
  background: red;
}

.demo2 {
  background: green;
}

.demo3 {
  background: blue;
}

.demo4 {
  background: orange;
}

.demo5 {
  background: pink;
}

button {
  position: fixed;
  right: 40px;
  top: 40px;
  background: #8f8f8f;
  color: white;
  width: 200px;
  height: 50px;;
}